<div class="container">
    <h1>DB 사용자 관리</h1>
    <hr/>

    <div>
        <button type="button" ng-click="fetchAllUsers()">사용자 목록 새로고침</button>
        <a href="#!/users/new" style="float: right;">새 사용자 등록</a>
    </div>
    <hr style="clear: both;" />


    <h2>사용자 목록</h2>
    <table class="user-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>이름</th>
                <th>전화번호</th>
                <th>이메일</th>
                <th>작업</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in userList">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <button ng-click="goToEditPage(user.id)">수정</button>
                    
                    <button ng-click="deleteUser(user.id)">삭제</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>