<div class="container">
    <div style="text-align: left; margin-bottom: 10px">
        <a href="#!/users">취소 (목록으로 돌아가기)</a>
    </div>

    <h1>
        새 사용자 등록
        <button
            type="button"
            ng-click="addUserField()"
            style="float: right"
        >
            +
        </button>
    </h1>
    <hr style="clear: both" />

    <form
        name="multiUserForm"
        novalidate
    >
        <div
            ng-repeat="user in newUsers track by $index"
            style="border: 1px solid #eee; padding: 10px; margin-bottom: 10px"
        >
            <h4>
                사용자 {{ $index + 1 }}
                <button
                    type="button"
                    ng-click="removeUserField($index)"
                    style="float: right"
                >
                    -
                </button>
            </h4>
            로그인 ID:
            <input
                type="text"
                ng-model="user.user_id"
                required
                placeholder="로그인 ID"
            /><br />
            비밀번호:
            <input
                type="password"
                ng-model="user.password"
                required
                placeholder="비밀번호"
            /><br />
            이름:
            <input
                type="text"
                ng-model="user.name"
                required
                placeholder="이름"
            /><br />
            전화번호:
            <input
                type="text"
                ng-model="user.phone"
                required
                placeholder="전화번호"
            /><br />
            이메일:
            <input
                type="text"
                ng-model="user.email"
                required
                placeholder="이메일"
            /><br />
        </div>
    </form>
    <hr />
    <button
        type="button"
        ng-click="submitUsers()"
        ng-disabled="multiUserForm.$invalid"
    >
        입력한 사용자 모두 추가
    </button>
</div>
