<!DOCTYPE html>
<html
    lang="ko"
    ng-app="busApp"
>
    <head>
        <meta charset="UTF-8" />
        <title>실습 프로젝트</title>
        <link
            rel="stylesheet"
            href="/css/style.css"
        />

        <script src="/lib/angular.js"></script>
        <script src="/lib/angular-route.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-sanitize.js"></script>

        <script src="/app.js"></script>
        <script src="/busController.js"></script>
        <script src="/userController.js"></script>

        <script src="/boardController.js"></script>
        <script src="/bigPostController.js"></script>

    </head>
    <body ng-controller="MainController">
        <div class="main-container">
            <header>
                <h1>실습프로젝트</h1>
                <div class="user-info">
                    <span>[{{currentUser.name}}]님</span>
                    <button
                        type="button"
                        ng-click="deleteMyAccount()"
                        class="delete-btn"
                    >
                        회원탈퇴
                    </button>
                    <a href="/logout"><button type="button">로그아웃</button></a>
                </div>
            </header>

            <nav class="tab-nav">
                <div
                    class="tab-link dropdown"
                    ng-repeat="mainMenu in menuItems"
                    ng-class="{ active: $location.path().startsWith(mainMenu.pathPrefix) }"
                >
                    <a
                        ng-if="mainMenu.subMenus.length > 0"
                        ng-href="{{ mainMenu.subMenus[0].path }}"
                    >
                        {{ mainMenu.menu_name }}
                    </a>

                    <span ng-if="!mainMenu.subMenus.length"> {{ mainMenu.menu_name }} </span>

                    <div class="dropdown-content">
                        <a
                            ng-repeat="subMenu in mainMenu.subMenus"
                            href="{{ subMenu.path }}"
                        >
                            {{ subMenu.menu_name }}
                        </a>
                    </div>
                </div>
            </nav>

            <div class="content-view">
                <div ng-view></div>
            </div>
        </div>
    </body>
</html>
