<!DOCTYPE html>
<html
    lang="ko"
    ng-app="busApp"
>
    <head>
        <meta charset="UTF-8" />
        <title>실습 프로젝트</title>
        <link rel="stylesheet" href="/css/style.css" />

        <script src="/lib/angular.js"></script>
        <script src="/lib/angular-route.js"></script>

        <script src="/app.js"></script>
        <script src="/busController.js"></script>
        <script src="/userController.js"></script>
        
        <script src="/boardController.js"></script>
    </head>
    <body ng-controller="MainController">
        <div class="main-container">
            <header>
                <h1>실습프로젝트</h1>
                <div class="user-info">
                    <span>[{{currentUser.name}}]님</span>
                    <button type="button" ng-click="deleteMyAccount()" class="delete-btn">회원탈퇴</button>
                    <a href="/logout"><button type="button">로그아웃</button></a>
                </div>
            </header>

            <nav class="tab-nav">
                <a
                    href="#!/board"
                    class="tab-link"
                    ng-class="{ active: $location.path().startsWith('/board') }"
                    >게시판</a
                >
                <a
                    href="#!/bus"
                    class="tab-link"
                    ng-class="{ active: $location.path() == '/bus' }"
                    >대구 버스 노선 정보</a
                >
                <a
                    href="#!/users"
                    class="tab-link"
                    ng-class="{ active: $location.path().startsWith('/users') }"
                    >DB 사용자 관리</a
                >
                <a
                    href="#!/roles"
                    class="tab-link"
                    ng-class="{ active: $location.path() == '/roles' }"
                    >권한 관리</a
                >
            </nav>

            <div class="content-view">
                <div ng-view></div>
            </div>
        </div>
    </body>
</html>