<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>로그인</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="form-page-body">
    <div class="form-container">
        <h1>로그인</h1>
        <div th:if="${param.error}" class="error-message">
            로그인 ID 또는 비밀번호가 올바르지 않습니다.
        </div>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="username">로그인 ID :</label>
                <input type="text" id="username" name="username" />
            </div>
            <div class="form-group">
                <label for="password">비밀번호 :</label>
                <input type="password" id="password" name="password" />
            </div>
            <div class="form-actions">
                <input type="submit" value="로그인" class="submit-btn" />
            </div>
        </form>
        <a th:href="@{/register}" class="secondary-btn">회원가입</a>
    </div>
</body>
</html>